name: Release

on:
  push:
    branches:
      - main

concurrency: ${ github.workflow }-${ github.ref }

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
        contents: write
        pull-requests: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Create Release Pull Request or Publish
        id: changesets
        uses: changesets/action@v1
        with:
          # Use custom version script that also updates version.txt
          version: npm run version
          # This executes when the Release PR is merged
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
