name: Release

on:
  push:
    branches:
      - main

concurrency: ${ github.workflow }-${ github.ref }

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
        contents: write
        pull-requests: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Create Release Pull Request or Publish
        id: changesets
        uses: changesets/action@v1
        with:
          # This executes when the Release PR is merged
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Update version.txt
        # If we just merged a "Version Packages" PR, the changesets are consumed, 
        # so hasChangesets is false. Use the result of the action to trigger this.
        if: steps.changesets.outputs.hasChangesets == 'false'
        run: |
           # Extract version from package.json after publish
           node -p "require('./package.json').version" > version.txt
           
           # Commit the updated version.txt
           git config --global user.name "github-actions[bot]"
           git config --global user.email "github-actions[bot]@users.noreply.github.com"
           git add version.txt
           git commit -m "chore: update version.txt to $(cat version.txt)"
           git push
