name: Require Changeset

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  changeset:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Check for changesets
        uses: changesets/action@v1
        with:
          setupGitUser: false
        env:
          GITHUB_TOKEN: ${ secrets.GITHUB_TOKEN }
